// Shared

GCC_WARN_UNUSED_PARAMETER = YES
WARNING_CFLAGS = -Wno-nullability-completeness
IPHONEOS_DEPLOYMENT_TARGET = 16.0

// Signing

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY[config=Debug]=Apple Development: Created via API (886NX39KP6)

DEVELOPMENT_TEAM = PZYM8XX95Q
DEVELOPMENT_TEAM[config=Release-Alpha] = 99KV9Z6BKV

// WP_*

WP_APP_GROUP_NAME = group.org.wordpress
WP_APP_GROUP_NAME[config=Release-Alpha] = group.org.wordpress.alpha

WP_APP_KEYCHAIN_ACCESS_GROUP = 3TMU3BH3NK.org.wordpress
WP_APP_KEYCHAIN_ACCESS_GROUP[config=Release-Alpha] = 99KV9Z6BKV.org.wordpress.alpha
